{% include 'base_layout.html' %}
{% block Team %}
<div class="wrapper">
    <div class="left-sidebar-fixed" id="">
        <nav id="left-fixed-sidebar">
            <div id="left-head">
            <h3>Hello</h3>
            </div>
                <div id="left-btn">
            <button type="button" id="leftSidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-left"></i>
                </button>
            </div>
        </nav>
    </div>

    <div class="left-sidebar-toggler" id="">
        <nav id="left-sidebar-slidable">
            <div class="sidebar-header">
                <h3>FOSSEE</h3>
                <strong>FOSE</strong>
            </div>
    <div class="ullist">
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-briefcase"></i>
                        About
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-copy"></i>
                        Pages
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div>
                        
                {% if user.is_authenticated %}
                <h4>AdminTeams</h4>
                {% for item in AdminTeams %}
                    
                    <div>
                        <a href="/teams/{{item.id}}/task" style="color: cyan">{{item.title}}</a>
                    </div>
                {% endfor %}
                <br>
                <h4>MemberTeams</h4>
                {% for item in MemberTeams %}
                <div>
                    <a href="/teams/{{item.id}}/task" style="color: cyan">{{item.title}}</a>
                </div>
                {% endfor %}
                <br>
                <br>
                
                <button type="submit" style="border-radius: 20px; color: lightslategrey"class=" create-team-btn"><span>+</span>Create Teams</button>        
            


                {% endif %}
            </div>
        

        </nav>
    </div>


    <div class="content" id="">
        <h3>Hello</h3>
        <button>Create Task</button>


    </div>

    <div class="right-sidebar-toggler" id="">
        <nav id="right-sidebar-slidable">
            <div class="sidebar-header">
                <h3>FOSSEE</h3>
                <strong>FOSE</strong>
            </div>
    
           


        </nav>
    </div>

    <div class="right-sidebar-fixed" id="">
        <nav id="right-fixed-sidebar">
            <h3>Hello</h3>
            <button type="button" id="leftSidebarCollapse" class="btn btn-info">
                <i class="fa fa-align-left"></i>
            </button>
        </nav>
    </div>


</div>

{% endblock Team %}
<div class="footer">
    {% include "_footer.html" %}
</div>