{% include 'base_layout.html' %}
{% block Team %}
<div class="wrapper" id="team-wrapper">
    <div class="wrapper" id="sidebar-team">
        <div class="left-sidebar-fixed" id="">
            <nav id="left-fixed-sidebar">
                <div id="left-head">
                    <div class="ullist" style="color: white;">
                        <ul class="list-unstyled components">
                            <li><button type="button" id="leftSidebarCollapse" class="btn btn-info"><i class="fa fa-align-left"></i></button></li>
                            <li class="active"><a href="/home" data-toggle="tooltip" data-placement="top" title="Home"><i class="fa fa-home" style="font-size: 35px; margin: 15px;"></i></a></li>
                            <li><a href="/teams" data-toggle="tooltip" data-placement="top" title="Teams"><i class="fa fa-briefcase" style="font-size: 35px; margin: 15px;"></i></a></li>
                            <li> <a href="#" data-toggle="tooltip" data-placement="top" title="Create Team"><i class="fa fa-plus create-team-btn" style="font-size: 35px; margin: 15px;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    <div class="content" id="team-content">

            <div class="wrapper1" id="myteam-admin">
                <h4 style="color:white; margin:20px;">AdminTeams</h4>
                <div class="scrollbar" id="team-scrollbar-1">
                    <div class="force-overflow">
                        {% if user.is_authenticated %}
                            {% for item in AdminTeams %}   
                            <div>
                                <div class="card" style="width: 12rem;color:#343a40;border: none;">
                                    <div class="card-body" style="background-color:#343a40;">
                                        <a href="/teams/{{item.id}}/task" style="color: cyan"><i class="fa fa-user create-team-btn" style="font-size: 25px;margin-right: 4px;"></i>{{item.title}}</a>
                                    </div>
                                </div>                  
                            </div>
                            {% endfor %} 
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="wrapper1" id="myteam-member">
                <h4 style="color:white; margin:20px;">MemberTeams</h4>
                <div class="scrollbar" id="team-scrollbar-2">
                    <div class="force-overflow">
                        {% if user.is_authenticated %} 
                            {% for item in MemberTeams %}
                            <div>
                                <div class="card" style="width: 12rem;color:#343a40;border: none;">
                                    <div class="card-body" style="background-color:#343a40;">
                                        <a href="/teams/{{item.id}}/task" style="color: cyan"><i class="fa fa-user create-team-btn" style="font-size: 25px;margin-right: 4px;"></i>{{item.title}}</a>
                                    </div>
                                </div>                  
                            </div>
                            {% endfor %}
                            <br>
                            <br>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>    
</div>


{% endblock Team %}
<div class="footer">
    {% include "_footer.html" %}
</div>