{% include 'base_layout.html' %}
{% block Team %}
<div class="container-fluid">
    <div class="row teams-view">
        <div class="col-2" id="sidebar-wrapper">
            <div class="col">
                <div>
                    <ul class="sidebar-nav">
                        <li> <a href="">Home</a></li>
                        <li><a href="">Profile</a></li>
                        <li><a href="">Settings</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Teams</h5>
                    <button class="btn-primary create-team-btn"><span>+</span>Create Teams</button>        
                </div>
               

            </div>
        </div>
        <div class="col-8" id="page-content-wrapper">
                <div class="row">
                    <ul>
                        <li>Main content</li>
<p>{{ var1}}</p>
<p>{{ var2}}</p>
                    </ul>

                </div>
        </div>
        <div class="col-2" id="sidebar-wrapper">
                <div class="col">
                    <div>
                        <ul class="sidebar-nav">
                            <li> <a href="">Home</a></li>
                            <li><a href="">Profile</a></li>
                            <li><a href="">Settings</a></li>
                        </ul>
                    </div>
                    <div>
                        <h5>Teams</h5>
                        <button class="btn-primary"><span>+</span>Create Teams</button>        
                    </div>
                   
    
                </div>
            </div>
    </div> 
</div>

{% endblock Team %}
<div class="footer">
    {% include "_footer.html" %}
  </div>