{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<style>
.app{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.wrapper{
    display: flex;
    align-items: stretch;

}

#left-fixed-sidebar{
    flex : 1 1 auto;
    min-height: 100vh;
    background: #343a40;
}


#leftSidebarCollapse{
    margin: 4px;
}

#rightSidebarCollapse{
    margin: 4px;
}

#left-sidebar-slidable{
    flex : 1 1 auto;
    background:#343a40;
    min-width: 220px;
    color: #fff;
    max-width: 220px;
    min-height: 100vh;
    transition: all 0.5s;
    z-index: 999;
}

.content{
    flex : 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


#right-sidebar-slidable{
    flex : 1 1 auto;
    background: #343a40;
    color: #fff;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.5s;
    z-index: 999;
     
}

#right-fixed-sidebar{
    flex : 1 1 auto;    
    background: #343a40;
    min-height: 100vh;
}

#left-sidebar-slidable.active{
    flex : 1 1 auto;
    background: #343a40;
    color: #fff;
    min-width: 80px;
    max-width: 80px;
    margin-right: 25px;
    padding-right: 25px;
}

#right-sidebar-slidable.active{
    flex : 1 1 auto;
    background: #343a40;
    color: #fff;
    min-width: 80px;
    max-width: 80px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #343a40;
}


#left-sidebar-slidable.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
i{
    color: white;
}

#right-sidebar-slidable {
    /* don't forget to add all the previously mentioned styles here too */
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

#right-sidebar-slidabler .sidebar-header {
    padding: 20px;
}


/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#right-sidebar-slidable .sidebar-header strong {
    display: none;
}
#right-sidebar-slidable.active .sidebar-header h3 {
    display: none;
}
#right-sidebar-slidable.active .sidebar-header strong {
    display: block;
}


.scrollbar
{
	float: left;
	height: 200px;
	width: 220px;
	background: #343a40;
	overflow-y: scroll;

}

.scrollbar.active
{
	float: left;
	height: 200px;
	width: 20px;
	background: #343a40;
	overflow-y: scroll;

}


.scrollbar-right
{
    direction: rtl;
	float: left;
	height: 500px;
	width: 250px;
	background:#343a40;
	overflow-y: scroll;

}

.force-overflow
{
	min-height: 450px;
}

.TaskScrollbar{
	height: 150px;
	width: 700px;
	background: #343a40;
	overflow-x: scroll;
    display: flex;
    flex-direction: row;
}


.wrapper2{
    margin-left: 20px;
    margin-bottom: 20px;
}


#team-wrapper{
    display: flex;
    flex-direction: row;
}

#sidebar-team{
    flex-grow: 1;
}

#team-content{
    flex-grow: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#style-2{
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#myteam-admin{
    margin: 30px;
}
#myteam-member{
    margin : 30px;
}

#team-scrollbar-1{
    height: 350px;
    width: 350px;

}

#team-scrollbar-2{
    height: 350px;
    width: 350px;
}


form{
    background-color: #343a40;
    color: white;
}

#home-content{
    display: flex;
    align-items: center;

}

#card-home{
    display: flex;
    margin-top : 30px;
    width : 850px;
    height : 600px;
    border: #b0f1ee 5px solid;
    background-color: #343a40;
    color :#fff;

}

#style-3{
    height:400px;
    margin-bottom: 30px;
}




</style>
{% endblock stylesheets %}