{% load static %}
<header style="border-bottom: 1px solid #eee;">

    
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <i class="fa fa-modx create-team-btn" style="font-size: 35px;margin-right: 10px;color:white;"></i>
            <a class="navbar-brand" href="#" style="color: #eee;">Fossee</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"  style="color: #eee;">Home <span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  style="color: #eee;">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: #eee;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                    </li>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            {% if user.is_authenticated %}
            <div class="navbar navbar-inverse">
                <div class="container-fluid"></div> 
                <ul class="nav">    
                    <li style="margin: 2px"><label style="color:white; font-size: 20px;margin-bottom: 0px; margin-right: 10px;">{{user.username }}</label></li>
                    <li style="margin: 2px"><a href="{% url 'Accounts:logout' %}" style="color:white; font-size: 20px;">  Log out</a></li>
                </ul> 
            </div>
            {% else %}
            <li class="nav navbar-nav navbar-right">
                <button class="signup-btn btn btn-dark" type="button" name="button">Signup</button>
            </li>
            <li class="nav navbar-nav navbar-right">
                <button class="login-btn btn btn-dark" type="button" name="button">Log in</button>
            </li>
            {% endif %}
        </div>
    </nav>

</header>